@{
    Layout = null;
}
@using Web.Areas.Admin.Controllers
<div class="container">
    <ul id="supersized"></ul>
    <div id="progress-back" class="load-item">
        <div id="progress-bar hidden"></div>
    </div>
    <div class="controls-bar">
        <a id="prevslide" class="nav-slide load-item nav-slide-prev"> <span class="fa fa-chevron-left fa-2x"></span></a>
        <a id="nextslide" class="nav-slide load-item nav-slide-next"><span class="fa fa-chevron-right fa-2x"></span></a>
    </div>
    <div class="slide-container">
        <div class="hidden-xss" id="slidecaption"></div>
    </div>
</div>
<div class="supersized-setup">
    <div class="init-none banner-info" data-image="/Content/frontend/storage/pagedata/100113/img/images/menu/22_2018-MotoGP-Test-Buriram-Crutchlow_18GPT02_2071_AN.jpg" data-url="index.html">
        <div class="slide-content text-center">
            <h3 class="b-title">Trang chủ</h3>
            <p></p>
            <a class="btn btn-primary text-uppercase" href="index.html"><span class="iconm-point-right"></span>Xem chi tiết</a>
        </div>
    </div>
</div>