<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <link rel="shortcut icon" href="/Content/frontend/images/Watermark-mau.png">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:type" content="article">
    <meta property="og:description" content="TINOMOTOR cung cấp các phụ tùng chính hãng của các hãng HONDA, SUZUKI, KAWASAKI, YAMAHA, DUCATI, APRILIA, BMW, CAN AM, KTM, HARLEY, CF-MOTO, MOTO GUZZI, TRIUMPH, BENELLI, MV AGUSTA và đặc biệt phụ tùng racing chính hãn">
    <meta property="og:image" content="~/Content/frontend/images/Watermark-mau.png">
    <meta property="twitter:image" content="~/Content/frontend/images/Watermark-mau.png">
    <meta name="description" content="TINOMOTOR cung cấp các phụ tùng chính hãng của các hãng HONDA, SUZUKI, KAWASAKI, YAMAHA, DUCATI, APRILIA, BMW, CAN AM, KTM, HARLEY, CF-MOTO, MOTO GUZZI, TRIUMPH, BENELLI, MV AGUSTA và đặc biệt phụ tùng racing chính hãn"/>
    <meta name="keywords" content="Phụ tùng chính hãng các loại xe mô tô PKL. TINOMOTOR cung cấp các phụ tùng chính hãng của các hãng HONDA, SUZUKI, KAWASAKI, YAMAHA, DUCATI, APRILIA, BMW, CAN AM, KTM, HARLEY, CF-MOTO, MOTO GUZZI, TRIUMPH, BENELLI, MV AGUSTA và đặc biệt phụ tùng racing chính hãn"/>
    <title>Phụ tùng chính hãng các loại xe mô tô PKL</title>
    <link rel="stylesheet" href="/Content/frontend/css/daterangepicker.css"/>
    <link rel="stylesheet" href="/Content/frontend/css/styleb0af.css?t=2"/>
    <link rel="stylesheet" href="/Content/frontend/css/custom.css"/>
    <link rel="stylesheet" href="/Content/frontend/css/cart.css"/>
    <link rel="stylesheet" href="/Content/frontend/css/footer.css"/>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style>
        .fa-envelope:before {
            content: "\f0e0";
        }

        .fa-vcard:before, .fa-address-card:before {
            content: "\f2bb";
        }

        .price-detail, .price {
            color: #F00;
        }

        .row-price-1 .btn-view-more + .text-right, .title.init-none, .btn-buy-detail {
            display: none;
        }

        .row-price-1 .btn-view-more {
            display: block;
        }

        .item-view-slide-image .img a {
            display: block;
            width: 100%;
        }

        .item-view-slide-image .img + .img {
            margin-top: 10px;
        }

        .more-content li:before {
            color: #F00;
        }

        .sidebar-category-product ul .root-c {
            padding: 0;
        }

        .footer-top {
            background: #404040;
            border-bottom: 1px solid #e1e1e1;
        }

        .box-footerservice {
            color: #EEE;
            border-right: 1px solid #e4e4e4;
            margin: 10px 0;
        }

        .brand-slide .img figure {
            border: 1px solid #DDD;
            border-radius: 4px;
            padding-top: 65%;
        }

        .brand-slide .view-items {
            margin: 0 -15px;
        }
        
        .moto-category-product ul {
            padding: 0;
        }

            .moto-category-product ul li {
                list-style: none;
            }

                .moto-category-product ul li > a {
                    font-weight: bold;
                }

                    .moto-category-product ul li > a:before {
                        content: "\f0da";
                        font-family: 'FontAwesome';
                        padding-right: 8px;
                        display: inline;
                    }

        .block-copyright {
            background-color: #333;
        }

        @@media only screen and (min-width: 768px) {
        }

        @@media only screen and (min-width: 768px) and (max-width: 1024px) {
        }

        @@media only screen and (min-width: 1021px) and (max-width: 1080px) {
            #main-menu .desktop-menu > ul > li > a {
                max-width: 180px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        #main-menu .hotline, #main-menu .hotline a {
            font-weight: bold;
            color: #FFF;
        }
    </style>
    <script src="/Content/frontend/js/modernizr.js"></script>
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-18322261-63', 'auto');
            ga('send', 'pageview');
    </script>
</head>
<body id="translation" class="home-page  lang-vi" data-add-class-active-to-obj="li.menu-item-,active" data-fixed="#header + .space-header" data-fixed-class="has-fixed" data-expiration-image="/images/web-design.jpg" data-expiration-date="2022-08-22">
<div class="website">
    <!-- Header -->
    <div class="top-bar">
        <div class="container">
            <ul class="change-language" data-copy-template="" data-view-template-local="true" data-view-template=".change-language" data-template-id="entryChangeLanguage">
                <li>&nbsp;</li>
            </ul>
            <ul class="icon">
                <li class="hidden-xs">
                    <a href="vi/aboutus.html">Giới thiệu</a>
                </li>
                <li>
                    <a href="#">Chia sẻ</a>
                </li>
                <li class="hidden-xs">
                    <a href="#">Li&ecirc;n hệ</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tinomotorvietnam/">
                        <em class="fa fa-facebook">&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="fa fa-youtube-play">&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="/cart/gio-hang.html">
                        <em class="fa fa-cart">&nbsp;</em>
                        <span class="cart-title">
                            <span class="count" id="coutCart"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="header" class="relative">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="logo">
                        <a href="/trang-chu.html">
                            <img src="~/Content/frontend/images/Watermark-mau.png"/>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 hidden-xs hidden-sm">
                    <div class="top-search in">
                        <div class="e-info">
                        </div>
                        <form class="post-form form-horizontal" method="get" action="/search">
                            <div class="hiddens">
                            </div>
                            <div class="row form-group ">
                                <label class="col-xs-12 col-sm-12"></label>
                                <div class="col-xs-12 col-sm-12">
                                    <input name="title" type="text" value="" class="form-control" id="keyword" placeholder="Sản phẩm"> <span class="error"></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-6 btn-search">
                                    <button type="button" onclick="search()" class="btn btn-block btn-sendinquery text-uppercase">
                                        <span>Gửi</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 contact-info hidden-xs">
                    <div class="row">
                        <div class="col-xs-1">
                            <em class="fa fa-map-marker">&nbsp;</em>
                        </div>
                        <div class="col-xs-11">
                            <em>29/33 Đo&agrave;n Thị Điểm - P.1 - Q.Ph&uacute; Nhuận - TP.HCM</em>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-sm-1">
                            <em class="fa fa-phone">&nbsp;</em>
                        </div>
                        <div class="col-xs-11 col-sm-11">
                            <p><a href="tel:0979 036 030"> <strong>Hotline&nbsp;</strong>0979 036 030</a> - <a href="tel:02866528287">028 6652 8287</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-header"></div>
    <!-- End Header -->
    <div id="main-menu">
        @{ Html.RenderAction("MenuHome", "Home"); }
    </div>
    <div id="container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 pull-right">
                    <main id="main">
                        @RenderBody()
                        <div class="flag-scroll-bottom">&nbsp;</div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <div class="modal quick-view-item fade" data-quick-view-item data-modal-quick-view>
        <!--Embed view detail here-->
    </div>
    <div class="modal fade" data-quick-view-item1 data-modal-quick-view>
        <!--Embed apply job here-->
    </div>
    <div class="modal quick-view-sms fade" data-quick-view-sms>
        <!--Embed apply job here-->
    </div>
    <div data-lightbox-show
         data-has-button-magic="true"
         data-lightbox-img="[data-lightbox-show] .lb-img"
         data-lightbox-button="[data-button]"
         data-lightbox-loader="[data-lightbox-show] .lb-loader"
         data-lightbox-content="[data-lightbox-show] .lb-content"
         data-lightbox-title="[data-lightbox-show] .lb-title">
        <div class="lb-content">
            <div class="modal-signin">
                <span data-button data-lightbox-btn-close class="lb-close  position-right">
                    <i class="fa fa-times-circle fa-2x "></i>
                </span>
            </div>
            <img class="lb-img" src="img/style/ajax-loader.gif"/>
            <div class="lb-nav">
                <a data-button value="-1">
                    <i class="fa fa-chevron-circle-left"></i>
                </a>
                <a data-button value="1">
                    <i class="fa fa-chevron-circle-right"></i>
                </a>
            </div>
            <div class="lb-loader"></div>
            <div class="lb-title">&nbsp;</div>
            <div class="init-none">
                <span class="btn btn-sendinquery "
                      data-button-magic
                      data-elm-data='{"layout1":{"left":"col-xs-12 col-sm-4","right":"col-xs-12 col-sm-8"} }'
                      data-ajax-url="/api/get/model?mod=site&node=contact&modalTitle=Điền thông tin form bên dưới để được tư vấn ngay!"
                      data-method="get"
                      data-params=""
                      data-view-template="[data-quick-view-item1]"
                      data-template-id="entryFormElement">
                    Tư vấn ngay
                </span>
            </div>
        </div>
    </div>
    <div class="alert-footer alert" data-fade="8000">
        <div class="sms-content"></div>
    </div>
    <div class="alert-footer alert-error" data-fade="3000">
        <div class="sms-content"></div>
    </div>
   
    <p>&nbsp;</p>
    <div id="footer">
        <div class="container">
            @{ Html.RenderAction("LoadFooter", "Footer"); }
        </div>
        <div class="block-copyright">
            <p class="copyright"></p>
        </div>
    </div>
    <div class="btn-to-top" data-goto-top>
        <span class="fa fa-arrow-circle-up"></span>
    </div>
</div>
<noscript>JavaScript is off. Please enable to view full site.</noscript>
<script src="api/get/langc29b.html?var=window.languageText"></script>
<script src="/Content/frontend/js/frontend5f68.js?v=1.43"></script>
<script src="storage/pagedata/assets/products_100113690e.js?time=449208"></script>
<script src="storage/pagedata/assets/local.js"></script>
<script src="/Content/frontend/js/clientlibs7431.js?v=1.11"></script>
<script src="storage/pagedata/assets/newplugin_100113b73c.js?t=1"></script>
<script>
            languageText.newPlugins = { "name": "Brand/ Motor", "temp": "newPluginBrandMotoManage"};
            try {
            var formFilterProduct = {
            "eDesign": { "row": "row form-group", "left": "col-xs-12 control-label hidden", "right": "col-xs-12" },
            "eForm": [{
                "iLabel": "Product Class",
                "groupClass": "row",
                "groupInput": [{
                        "iName": "pbr",
                        "iValue": "",
                        "iTypeDropdown": "dropdown",
                        "iAttr": { "data-dropdown": "", "data-index-value": "", "type": "select-from-json", "data-str-key": "id", "data-str-value": "ti","data-compare":"equal", "data-key-sort": "ti", "data-local-optiona": "productBrand", "data-object-init": "{\"id\": \"\", \"ti\": \"Brand\"}"},
                        "gClass": "col-xs-4",
                        "iClass": "form-control"
                    },
                    {
                        "iName": "pcl",
                        "iValue": "",
                        "iTypeDropdown": "dropdown",
                        "iAttr": { "data-dropdown": "", "data-required": "require", "data-index-value": "", "data-str-key": "id", "data-str-value": "ti","data-compare":"equal", "data-key-sort": "ti", "data-dropdown-relative": "pcm", "data-params": "pcl=", "data-local-optiona": "productClass", "data-object-init":"{\"id\": \"\", \"ti\": \"Class\"}"},
                        "gClass": "col-xs-4",
                        "iClass": "form-control"
                    },
                    {
                        "iName": "pcm",
                        "iValue": "",
                        "iTypeDropdown": "dropdown",
                        "iAttr": { "data-dropdown": "", "data-index-value": "", "type": "select-from-json", "data-str-key": "id", "data-str-value": "ti","data-compare":"in", "data-key-sort": "ti", "data-local-optiona": "productClassModel", "data-object-init": "{\"id\": \"\", \"ti\": \"Class Model\"}"},
                        "gClass": "col-xs-4",
                        "iClass": "form-control"
                    }
                ]
            }],
            "attrForm": { "class": "post-form form-horizontal" }
            }

            var formFilterProductClass = {
                "eDesign": { "row": "row form-group", "left": "col-xs-12 control-label hidden", "right": "col-xs-12" },
                "eForm": [{
                    "iLabel": "Product Class",
                    "groupClass": "row",
                    "groupInput": [
                        {
                            "iName": "pcm",
                            "iValue": "",
                            "iTypeDropdown": "dropdown",
                            "iAttr": { "data-dropdown": "", "data-index-value": "", "type": "select-from-json", "data-str-key": "id", "data-str-value": "ti","data-compare":"in", "data-key-sort": "ti", "data-local-optiona": "productClassModel", "data-object-init": "{\"id\": \"\", \"ti\": \"Class Model\"}"},
                            "gClass": "col-xs-6",
                            "iClass": "form-control"
                        },
                        {
                            "iName": "pbr",
                            "iValue": "",
                            "iTypeDropdown": "dropdown",
                            "iAttr": { "data-dropdown": "", "data-index-value": "", "type": "select-from-json", "data-str-key": "id", "data-str-value": "ti","data-compare":"equal", "data-key-sort": "ti", "data-local-optiona": "productBrand", "data-object-init": "{\"id\": \"\", \"ti\": \"Brand\"}"},
                            "gClass": "col-xs-6",
                            "iClass": "form-control"
                        }
                    ]
                }],
                "attrForm": { "class": "post-form form-horizontal" }
            }

            } catch (err) {
            console.log(err);
            }
    </script>
<script id="entryFilterProductClass" type="text/x-handlebars-template">
        <form class="post-form form-horizontal">
            <div class="row form-group">
                <div class="col-xs-6">
                    <select name="pcm"
                            class="form-control"
                            data-dropdown=""
                            data-index-value=""
                            type="select-from-json"
                            data-str-key="id"
                            data-str-value="ti"
                            data-compare="in"
                            data-key-sort="ti"
                            data-params="pcl={{e.pcl}}"
                            data-local-optiona="productClassModel"
                            data-object-init='{"id": "", "ti": "Class Model"}'></select>
                </div>
                <div class="col-xs-6">
                    <select name="pbr"
                            class="form-control"
                            data-dropdown=""
                            data-index-value=""
                            type="select-from-json"
                            data-str-key="id"
                            data-str-value="ti"
                            data-compare="equal"
                            data-key-sort="ti"
                            data-local-optiona="productBrand" data-object-init='{"id": "", "ti": "Brand"}'>
                </div>
            </div>
        </form>
    </script>
<!-- Template Plugin -->
<script id="brandMotoItem" type="text/x-handlebars-template">
        <tr class="item">
            <td>{{i.id}}</td>
            <td><p>{{i.ti}}</p>{{i.url}}</td>
            <td>{{i.im}}</td>
            <td>
                <span class="fa fa-edit"
                      data-button-magic
                      data-view-template-local="true"
                      data-elm-data='{"id":"{{i.id}}","ti":"{{i.ti}}","im":"{{i.im}}","url":"{{i.url}}"}'
                      data-view-template="[data-quick-view-item]"
                      data-template-id="entryFormBrandMoto"></span>
                <span class="fa fa-remove"
                      title="Delete"
                      data-button-magic
                      data-confirm="true"
                      data-method="post"
                      data-format-json="true"
                      data-params='{ "id":"{{i.id}}", "updateNode":"del", "model":"productBrand"}'
                      data-ajax-url="/api/post/newplugin/api/post/newplugin?varobj=languageText.dropdownLocalOption&keyvalue=productBrand,productClass,productClassModel"
                      data-refress-list=".item-view-more"></span>
            </td>
        </tr>
    </script>
<script id="entryFormBrandMoto" type="text/x-handlebars-template">
        <div class="modal-content modal-dialog modal-menu-edit ">
            <div>
                <div class="modal-header">
                    <div class="admin-title">
                        {{#if e.ti}}
                        <h2>Brand update: {{e.ti}}</h2>
                        {{else}}
                        <h2>Brand {{d.l10n.btnAdd}}</h2>
                        {{/if}}
                    </div>
                    <span class="fa fa-times-circle fa-2x position-right" data-closet-toggle-class="in" data-object=".modal" data-empty-object="[data-quick-view-item]"></span>
                </div>
                <div class="modal-body">
                    <div class="e-info">{{{e.info}}}</div>
                    <form class="post-form form-horizontal">
                        <div class="hiddens">
                            <input type="hidden" name="updateNode" value="db">
                            <input type="hidden" name="model" value="productBrand">
                            <input type="hidden" name="db.id" value="{{e.id}}">
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">{{d.l10n.title}}</label>
                            <div class="col-xs-9">
                                <input name="db.ti"
                                       type="input"
                                       value="{{e.ti}}"
                                       class="form-control"
                                       data-validate=""
                                       data-required="{{d.l10n.requireInput}}"
                                       placeholder="">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">{{d.l10n.externalLink}}</label>
                            <div class="col-xs-9">
                                <input name="db.url"
                                       type="input"
                                       value="{{e.url}}"
                                       class="form-control"
                                       placeholder="">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">{{d.l10n.image}}</label>
                            <div class="col-xs-9">
                                <input name="db.im"
                                       type="input"
                                       value="{{e.im}}"
                                       class="form-control"
                                       placeholder="">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-offset-3 col-xs-4 text-right transparent-input-b">
                                <button type=""
                                        data-button-magic
                                        data-format-json="true"
                                        data-params-form=".post-form"
                                        data-ajax-url="/api/post/newplugin?varobj=languageText.dropdownLocalOption&keyvalue=productBrand,productClass,productClassModel"
                                        data-show-success=".alert-footer.alert"
                                        data-show-errors=".alert-footer.alert-error"
                                        class="btn btn-block btn-primary text-uppercase"
                                        data-refress-list=".item-view-more">
                                    <span>{{d.l10n.btnSend}}</span>
                                </button>
                            </div>
                            <div class="col-xs-4 ">
                                <button type=""
                                        class="btn btn-block btn-default text-uppercase"
                                        data-closet-toggle-class="in"
                                        data-object=".modal"
                                        data-empty-object="[data-quick-view-item]">
                                    <span>{{d.l10n.btnCancel}}</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>
<script id="newPluginBrandMotoManage" type="text/x-handlebars-template">
        <ul class="path-url">
            <li class="active"> <a href="/admincp?manage=newPlugins&strTemp=newPluginBrandMotoManage">Brand</a> </li>
            <li> <a href="/admincp?manage=newPlugins&strTemp=newPluginMotoManage">Motor</a> </li>
            <li> <a href="/admincp?manage=newPlugins&strTemp=newPluginMotoClassManage">Class model</a> </li>
        </ul>
        <div class="item-view-more admin-list"
             data-view-list-by-handlebar
             data-init-button-magic=".item [data-button-magic]"
             data-url="/api/get/newplugin?plugin=productBrand"
             data-method="get"
             data-show-page="10"
             data-show-item="15"
             data-show-all="false"
             data-scroll-view="false"
             data-object-reverse="true"
             data-form-filter=".form-filter"
             data-template-id="brandMotoItem">
            <div class="admin-title">
                <div class="row">
                    <div class="col-xs-10">
                        <h2 class="active">Brand <span data-total-item></span></h2>
                    </div>
                    <div class="col-xs-2 text-right">
                        <button class="btn btn-default text-uppercase"
                                data-button-magic
                                data-view-template-local="true"
                                data-view-template="[data-quick-view-item]"
                                data-template-id="entryFormBrandMoto">
                            <i class="fa fa-plus"></i> {{d.l10n.btnAdd}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <colgroup>
                        <col class="col-xs-2">
                        <col class="col-xs-4">
                        <col class="col-xs-4">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr class="content-filter">
                            <td colspan="4">
                                <form class="form-filter" data-waiting="500">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="id"
                                                       data-compare="equal"
                                                       placeholder="{{d.l10n.id}}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="ti"
                                                       data-compare="text in"
                                                       placeholder="{{d.l10n.name}}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">

                                        </div>
                                        <div class="col-xs-2">
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </thead>
                    <tbody class="view-items" data-content></tbody>
                </table>
            </div>
            <div data-footer></div>
        </div>
    </script>
<script id="motoItem" type="text/x-handlebars-template">
        <tr class="item">
            <td>{{i.id}}</td>
            <td><p>{{i.ti}}</p>{{i.url}}</td>
            <td>{{i.im}}</td>
            <td>
                <span class="fa fa-edit"
                      data-button-magic
                      data-view-template-local="true"
                      data-elm-data='{"id":"{{i.id}}","ti":"{{i.ti}}","im":"{{i.im}}","url":"{{i.url}}"}'
                      data-view-template="[data-quick-view-item]"
                      data-template-id="entryFormMotorbike"></span>
                <span class="fa fa-remove"
                      title="Delete"
                      data-button-magic
                      data-confirm="true"
                      data-method="post"
                      data-format-json="true"
                      data-params='{ "id":"{{i.id}}", "updateNode":"del", "model":"productClass"}'
                      data-ajax-url="/api/post/newplugin/api/post/newplugin?varobj=languageText.dropdownLocalOption&keyvalue=productBrand,productClass,productClassModel"
                      data-refress-list=".item-view-more"></span>
            </td>
        </tr>
    </script>
<script id="entryFormMotorbike" type="text/x-handlebars-template">
        <div class="modal-content modal-dialog modal-menu-edit ">
            <div>
                <div class="modal-header">
                    <div class="admin-title">
                        {{#if e.ti}}
                        <h2>Motor update: {{e.ti}}</h2>
                        {{else}}
                        <h2>Motor {{d.l10n.btnAdd}}</h2>
                        {{/if}}
                    </div>
                    <span class="fa fa-times-circle fa-2x position-right" data-closet-toggle-class="in" data-object=".modal" data-empty-object="[data-quick-view-item]"></span>
                </div>
                <div class="modal-body">
                    <div class="e-info">{{{e.info}}}</div>
                    <form class="post-form form-horizontal">
                        <div class="hiddens">
                            <input type="hidden" name="updateNode" value="db">
                            <input type="hidden" name="model" value="productClass">
                            <input type="hidden" name="db.id" value="{{e.id}}">
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">{{d.l10n.title}}</label>
                            <div class="col-xs-9">
                                <input name="db.ti"
                                       type="input"
                                       value="{{e.ti}}"
                                       class="form-control"
                                       data-validate=""
                                       data-required="{{d.l10n.requireInput}}"
                                       placeholder="">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">{{d.l10n.externalLink}}</label>
                            <div class="col-xs-9">
                                <input name="db.url"
                                       type="input"
                                       value="{{e.url}}"
                                       class="form-control"
                                       placeholder="">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">{{d.l10n.image}}</label>
                            <div class="col-xs-9">
                                <input name="db.im"
                                       type="input"
                                       value="{{e.im}}"
                                       class="form-control"
                                       placeholder="">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-offset-3 col-xs-4 text-right transparent-input-b">
                                <button type=""
                                        data-button-magic
                                        data-format-json="true"
                                        data-params-form=".post-form"
                                        data-ajax-url="/api/post/newplugin?varobj=languageText.dropdownLocalOption&keyvalue=productBrand,productClass,productClassModel"
                                        data-show-success=".alert-footer.alert"
                                        data-show-errors=".alert-footer.alert-error"
                                        class="btn btn-block btn-primary text-uppercase"
                                        data-refress-list=".item-view-more">
                                    <span>{{d.l10n.btnSend}}</span>
                                </button>
                            </div>
                            <div class="col-xs-4 ">
                                <button type=""
                                        class="btn btn-block btn-default text-uppercase"
                                        data-closet-toggle-class="in"
                                        data-object=".modal"
                                        data-empty-object="[data-quick-view-item]">
                                    <span>{{d.l10n.btnCancel}}</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>
<script id="newPluginMotoManage" type="text/x-handlebars-template">
        <ul class="path-url">
            <li> <a href="/admincp?manage=newPlugins&strTemp=newPluginBrandMotoManage">Brand</a> </li>
            <li class="active"> <a href="/admincp?manage=newPlugins&strTemp=newPluginMotoManage">Motor</a> </li>
            <li> <a href="/admincp?manage=newPlugins&strTemp=newPluginMotoClassManage">Class model</a> </li>
        </ul>
        <div class="item-view-more admin-list"
             data-view-list-by-handlebar
             data-init-button-magic=".item [data-button-magic]"
             data-url="/api/get/newplugin?plugin=productClass"
             data-method="get"
             data-show-page="10"
             data-show-item="15"
             data-show-all="false"
             data-scroll-view="false"
             data-object-reverse="true"
             data-form-filter=".form-filter"
             data-template-id="motoItem">
            <div class="admin-title">
                <div class="row">
                    <div class="col-xs-10">
                        <h2 class="active">Motor <span data-total-item></span></h2>
                    </div>
                    <div class="col-xs-2 text-right">
                        <button class="btn btn-default text-uppercase"
                                data-button-magic
                                data-view-template-local="true"
                                data-view-template="[data-quick-view-item]"
                                data-template-id="entryFormMotorbike">
                            <i class="fa fa-plus"></i> {{d.l10n.btnAdd}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <colgroup>
                        <col class="col-xs-2">
                        <col class="col-xs-4">
                        <col class="col-xs-4">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr class="content-filter">
                            <td colspan="4">
                                <form class="form-filter" data-waiting="500">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="id"
                                                       data-compare="equal"
                                                       placeholder="{{d.l10n.id}}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="ti"
                                                       data-compare="text in"
                                                       placeholder="{{d.l10n.name}}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">

                                        </div>
                                        <div class="col-xs-2">
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </thead>
                    <tbody class="view-items" data-content></tbody>
                </table>
            </div>
            <div data-footer></div>
        </div>
    </script>
<script id="motoClassItem" type="text/x-handlebars-template">
        <tr class="item">
            <td>{{i.id}}</td>
            <td><p>{{i.ti}}</p>{{i.url}}</td>
            <td>{{i.im}}</td>
            <td>
                <span>{{textFromDropdownLocal i.pcl 'productClass' 'id' 'ti'}}</span>
            </td>
            <td>
                <span class="fa fa-edit"
                      data-button-magic
                      data-view-template-local="true"
                      data-elm-data='{"id":"{{i.id}}","ti":"{{i.ti}}","pcl":"{{i.pcl}}","im":"{{i.im}}","url":"{{i.url}}"}'
                      data-view-template="[data-quick-view-item]"
                      data-template-id="entryFormMotorbikeClass"></span>
                <span class="fa fa-remove"
                      title="Delete"
                      data-button-magic
                      data-confirm="true"
                      data-method="post"
                      data-format-json="true"
                      data-params='{ "id":"{{i.id}}", "updateNode":"del", "model":"productClassModel"}'
                      data-ajax-url="/api/post/newplugin/api/post/newplugin?varobj=languageText.dropdownLocalOption&keyvalue=productBrand,productClass,productClassModel"
                      data-refress-list=".item-view-more"></span>
            </td>
        </tr>
    </script>
<script id="entryFormMotorbikeClass" type="text/x-handlebars-template">
        <div class="modal-content modal-dialog modal-menu-edit ">
            <div>
                <div class="modal-header">
                    <div class="admin-title">
                        {{#if e.ti}}
                        <h2>Model update: {{e.ti}}</h2>
                        {{else}}
                        <h2>Model {{d.l10n.btnAdd}}</h2>
                        {{/if}}
                    </div>
                    <span class="fa fa-times-circle fa-2x position-right" data-closet-toggle-class="in" data-object=".modal" data-empty-object="[data-quick-view-item]"></span>
                </div>
                <div class="modal-body">
                    <div class="e-info">{{{e.info}}}</div>
                    <form class="post-form form-horizontal">
                        <div class="hiddens">
                            <input type="hidden" name="updateNode" value="db">
                            <input type="hidden" name="model" value="productClassModel">
                            <input type="hidden" name="db.id" value="{{e.id}}">
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">{{d.l10n.title}}</label>
                            <div class="col-xs-9">
                                <input name="db.ti"
                                       type="input"
                                       value="{{e.ti}}"
                                       class="form-control"
                                       data-validate=""
                                       data-required="{{d.l10n.requireInput}}"
                                       placeholder="">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">Motorbike</label>
                            <div class="col-xs-9">
                                <select name="db.pcl"
                                        class="form-control"
                                        data-validate=""
                                        data-required="Yêu cầu nhập nội dung"
                                        data-dropdown=""
                                        data-index-value="{{e.pcl}}"
                                        data-local-optiona="productClass"
                                        data-object-init='{"id":"", "ti":"Select Motorbike"}'></select>
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">{{d.l10n.externalLink}}</label>
                            <div class="col-xs-9">
                                <input name="db.url"
                                       type="input"
                                       value="{{e.url}}"
                                       class="form-control"
                                       placeholder="">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group ">
                            <label class="col-xs-3">{{d.l10n.image}}</label>
                            <div class="col-xs-9">
                                <input name="db.im"
                                       type="input"
                                       value="{{e.im}}"
                                       class="form-control"
                                       placeholder="">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-offset-3 col-xs-4 text-right transparent-input-b">
                                <button type=""
                                        data-button-magic
                                        data-format-json="true"
                                        data-params-form=".post-form"
                                        data-ajax-url="/api/post/newplugin?varobj=languageText.dropdownLocalOption&keyvalue=productBrand,productClass,productClassModel"
                                        data-show-success=".alert-footer.alert"
                                        data-show-errors=".alert-footer.alert-error"
                                        class="btn btn-block btn-primary text-uppercase"
                                        data-refress-list=".item-view-more">
                                    <span>{{d.l10n.btnSend}}</span>
                                </button>
                            </div>
                            <div class="col-xs-4 ">
                                <button type=""
                                        class="btn btn-block btn-default text-uppercase"
                                        data-closet-toggle-class="in"
                                        data-object=".modal"
                                        data-empty-object="[data-quick-view-item]">
                                    <span>{{d.l10n.btnCancel}}</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>
<script id="newPluginMotoClassManage" type="text/x-handlebars-template">
        <ul class="path-url">
            <li> <a href="/admincp?manage=newPlugins&strTemp=newPluginBrandMotoManage">Brand</a> </li>
            <li> <a href="/admincp?manage=newPlugins&strTemp=newPluginMotoManage">Motor</a> </li>
            <li class="active"> <a href="/admincp?manage=newPlugins&strTemp=newPluginMotoClassManage">Class model</a> </li>
        </ul>
        <div class="item-view-more admin-list"
             data-view-list-by-handlebar
             data-init-button-magic=".item [data-button-magic]"
             data-url="/api/get/newplugin?plugin=productClassModel"
             data-method="get"
             data-show-page="10"
             data-show-item="15"
             data-show-all="false"
             data-scroll-view="false"
             data-object-reverse="true"
             data-form-filter=".form-filter"
             data-template-id="motoClassItem">
            <div class="admin-title">
                <div class="row">
                    <div class="col-xs-10">
                        <h2 class="active">Motor Class Model <span data-total-item></span></h2>
                    </div>
                    <div class="col-xs-2 text-right">
                        <button class="btn btn-default text-uppercase"
                                data-button-magic
                                data-view-template-local="true"
                                data-view-template="[data-quick-view-item]"
                                data-template-id="entryFormMotorbikeClass">
                            <i class="fa fa-plus"></i> {{d.l10n.btnAdd}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <colgroup>
                        <col class="col-xs-2">
                        <col class="col-xs-3">
                        <col class="col-xs-3">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr class="content-filter">
                            <td colspan="5">
                                <form class="form-filter" data-waiting="500">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="id"
                                                       data-compare="equal"
                                                       placeholder="{{d.l10n.id}}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="ti"
                                                       data-compare="text in"
                                                       placeholder="{{d.l10n.name}}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            {{d.l10n.image}}
                                        </div>
                                        <div class="col-xs-2">
                                            <select name="pcl" data-dropdown="" data-object-init='{"id":"", "ti":"Select Motorbike"}' data-local-optiona="productClass" data-compare="equal" data-option-base-on-url="pcl" class="form-control"></select>
                                        </div>
                                        <div class="col-xs-2">
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </thead>
                    <tbody class="view-items" data-content></tbody>
                </table>
            </div>
            <div data-footer></div>
        </div>
    </script>
<script>
            var validateExpired=false;
            if($("body").data("expirationDate")) {
                if(!moment().isAfter($("body").data("expirationDate"),"day")) {
                    validateExpired = true;
                }
            }
            if(!validateExpired) {
                if( document.location.host.indexOf("phpvnn.com") == -1) {
                    $("body").addClass("website-expired");
                    $("body").addClass("website-expired").append('<div style="width:600px; height:320px; display:block; position:fixed; z-index:9999; left:50%; top:50%; margin-top:-160px;  margin-left:-300px;"><img src="/images/renew.jpg" class="full-width"></div>');
                }
            }
    </script>
@RenderSection("scripts", required: false)
<script>
        function search() {
            location.href = "/search?title=" + $("input[name='title']").val();
        }

    </script>
</body>
</html>